---
// RoleAssignmentDiagram.astro - Informative diagram showing McDonald's role assignments
---

<div class="w-full h-full flex justify-center items-center">
    <img src="/McDonalds1.svg" class="flex w-full max-w-full justify-center h-auto"/>
</div>
