---
import TextLink from "@components/TextLink.astro";
import { resolvePath } from "@lib/utils";

type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>

  <p>
    Hi, I’m a lifelong learner with a passion for exploring new ideas and 
    uncovering hidden connections in everyday life. Whether it’s diving into 
    the latest tech trends, unraveling creative challenges, or sharing personal 
    reflections, I strive to turn curiosity into thoughtful conversation. 
    My blog is a space where I blend analytical insights with a touch of creative flair—inviting you to question, discover, and grow alongside me. Welcome to a journey of ideas, innovation, and inspiration!
  </p>

  <p>Enjoy!</p>
</div>
